@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.flex{
  display: flex;
  flex-direction: row;
}

.h1{
  z-index: 2;
  color: #415167;
  font-size: 54px;
  width: 470px;
  margin-top: 504px;
  margin-left: -1050px;
}

.img2-hed1{
  width: 757px;
  height: 768px;
  margin-left: 200px;
  z-index: 1;
}

.heder1{
  width: 1076px;
  height: 768px;
}

.lef-bg{
  width: 384px;
  background: #415167;
  height: 894px;
}

.img-CC{
  width: 240px;
  height: 256px;
}

.p-CC{
  margin-left: 45px;
  margin-top: 42px;
  color: #C7A17A;
  font-size: 20px;
}

.h2-CC{
  color: #232C38;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 45px;
}

.h3-CC{
  margin-top: 22px;
  margin-left: 45px;
  color: #151D28;
  font-size: 16px;
}

.button-CC{
  width: 134px;
  height: 32px;
  border-radius: 19px;
  background: #C7A17A;
  display: inline-block;
  color: #F9FBFF;
  font-size: 16px;
  margin-top: 18px;
  margin-left: 43px;
}

.p2-CC{
  color: #415167;
  font-size: 16px;
  margin-top: 26px;
  margin-left: 29px;
}